@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

.page {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', 'Steinbeck', 'Arial', sans-serif;
  background-color: #151A22;
  color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  margin: 0;
  box-sizing: border-box;
  padding: 22px 0 14px 300px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }
}

.header__logo {
  height: 39px;
  width: 169px;
}

.content {
  margin: 0 auto;
  padding: 0 563px 179px 563px;
}

.logo {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px green;
}

.logo__image {
  height: 89px;
  width: 230px;
  padding-left: 35px;
}

.logo__tagline {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding-top: 20px;
}
