@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

.page {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', 'Steinbeck', 'Arial', sans-serif;
  background-color: #151A22;
  color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  margin: 0;
  box-sizing: border-box;
  padding: 22px 0 14px 300px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }
}

.header__logo {
  height: 39px;
  width: 169px;
}

.content {
  margin: 0 auto;
  padding: 0 563px 179px 563px;
}

.logo {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__image {
  height: 89px;
  width: 230px;
  padding-left: 35px;
}

.logo__tagline {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding-top: 20px;
  padding-left: 17px;
}

.plans {
  margin: 0;
  box-sizing: border-box;
  padding: 51px 50px 25px 50px;
  display: flex;
}

.plans__element {
  margin: 0;
  width: 347px;
  min-height: 196px;
  background: rgba(51, 59, 74, 0.2);
  border-radius: 4px;
}

.plans__element:last-child {
  margin-left: 25px;
}

.plans__coupon {
  margin: 0;
  width: 98px;
  height: 38px;
  margin-left: 29px;
  margin-top: -5px;
  background-color: #89A3FF;
  border-radius: 0 5px 5px 5px;
}

.plans__coupon_place_annual-bill {
  background-color: #EFDD36;
  margin-left: 34px;
}

.plans__amount {
  margin: 0;
  color: #FFFFFF;
  padding-top: 7px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.02em;
}

.plans__amount_place_annual-bill {
  color: #151A22;
}

.plans__title-box {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 23px 22px 0 33px;
}

.plans__title {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.plans__cost {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #89A3FF;
}

.plans__cost_place_annual-bill {
  color: #EFDD36;
}

.plans__old-cost {
  margin: 0;
  text-align: right;
  padding-right: 22px;
  font-weight: normal;
  letter-spacing: 0.02em;
  text-decoration-line: line-through;
  color: #C0C3CD;
  opacity: 0.5;
}

.plans__subtitle {
  margin: 0;
  padding-top: 39px;
  padding-left: 35px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  opacity: 0.5;
}

.button {
  margin: 0;
  box-sizing: border-box;
  padding-left: 16px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.button__continue {
  width: 337px;
  height: 48px;
  background: linear-gradient(91.33deg, #89A3FF 0%, #FF6060 54.17%, #FFBF00 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 13.2985px 26.5969px rgba(255, 0, 63, 0.2);
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #151A22;
}

.button__caption {
  margin: 0;
  padding-top: 12px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  opacity: 0.5;
}
