@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

.page {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', 'Steinbeck', 'Arial', sans-serif;
  background-color: #151A22;
  color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  margin: 0;
  box-sizing: border-box;
  padding: 22px 0 26px 300px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }
}

.header__logo {
  height: 39px;
  width: 169px;
}


.logo {
  width: 170px;
  height: 20px;
}

.header__route-links {
  list-style: none;
  padding-top: 2px;
  margin: 0;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__route-links {
    padding: 0;
    padding-top: 15px;
    width: 320px;
    flex-direction: column;
    align-items: center;
  }
}

.header__route-link {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-decoration: none;
}

.header__route-link:last-child {
  padding-left: 91px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__route-link:last-child {
    padding-left: 0;
  }
}

.search-bar {
  max-width: 1160px;
  height: 60px;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  position: relative;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .search-bar {
    max-width: 900px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-bar {
    max-width: 700px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .search-bar {
    max-width: 400px;
    min-height: 360px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .search-bar {
    max-width: 300px;
    min-height: 360px;
  }
}

.search-bar__buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-bar__buttons {
    flex-direction: column;
  }
}

.search-bar__button {
  background-color: #fff;
  color: #49627E;
  margin: 0;
  padding: 0;
  min-width: 216px;
  max-height: 60px;
  border: none;
  margin-left: 2px;
  outline: none;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  overflow: hidden;
}

.search-bar__button_active {
  border-radius: 0 0 10px 10px;
  min-height: 195px;
  border-radius: 0 0 10px 10px;
  overflow: visible;
}

.search-bar__button_position_first {
  border-radius: 10px 0 0 10px;
  min-width: 183px;
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .search-bar__button_position_first {
    min-width: 140px;
    max-width: 170px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-bar__button_position_first {
    min-width: 100px;
    max-width: 120px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .search-bar__button_position_first {
    width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .search-bar__button_position_first {
    width: 300px;
  }
}

.search-bar__button_position_second {
  min-width: 207px;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .search-bar__button_position_second {
    min-width: 140px;
    max-width: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-bar__button_position_second {
    min-width: 100px;
    max-width: 120px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .search-bar__button_position_second {
    width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .search-bar__button_position_second {
    width: 300px;
  }
}

.search-bar__button_position_third {
  min-width: 249px;
  padding-left: 35px;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .search-bar__button_position_third {
    min-width: 140px;
    max-width: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-bar__button_position_third {
    min-width: 100px;
    max-width: 120px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .search-bar__button_position_third {
    width: 400px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .search-bar__button_position_third {
    width: 300px;
    padding-left: 25px;
  }
}

.search-bar__button_position_fourth {
  padding-left: 26px;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .search-bar__button_position_fourth {
    min-width: 140px;
    max-width: 170px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-bar__button_position_fourth {
    min-width: 100px;
    max-width: 120px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .search-bar__button_position_fourth {
    width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .search-bar__button_position_fourth {
    width: 300px;
  }
}

.search-bar__button_position_fifth {
  padding-left: 26px;
  min-width: 204px;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .search-bar__button_position_fifth {
    min-width: 140px;
    max-width: 170px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-bar__button_position_fifth {
    min-width: 100px;
    max-width: 120px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .search-bar__button_position_fifth {
    width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .search-bar__button_position_fifth {
    width: 300px;
  }
}

.search-bar__title-box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.search-bar__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-bar__form-item {
  margin: 0;
  padding: 0;
}

.search-bar__label {
  margin: 0;
  padding: 0;
  color: #49627E;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(15 / 12);
}

.search-bar__input {
  max-width: 130px;
  border: 0;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  outline: none;
}

.search-bar__search-button {
  background-color: #0070FB;
  color: #fff;
  margin: 0;
  padding: 0;
  min-width: 89px;
  min-height: 60px;
  border: none;
  margin-left: 2px;
  outline: none;
  border-radius: 0px 10px 10px 0px;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .search-bar__search-button {
    width: 400px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .search-bar__search-button {
    width: 300px;
    border-radius: 10px;
  }
}

.search-bar__button-text {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: calc(15 / 12);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-bar__button-text {
    padding-left: 5px;
    font-size: 10px;
  }
}







.vacancies {
  max-width: 1160px;
  max-height: 1050px;
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: flex;
}


@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .vacancies {
    width: 900px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .vacancies {
    width: 760px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .vacancies {
    flex-direction: column;
    align-items: center;
  }
}

.vacancies__list {
  min-width: 460px;
  margin: 0;
  list-style: none;
  padding-left: 0;
  overflow: scroll;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .vacancies__list {
    min-width: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .vacancies__list {
    min-width: 300px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .vacancies__list {
    min-width: 300px;
    max-width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .vacancies__list {
    min-width: 250px;
    max-width: 300px;
  }
}

.vacancies__element {
  min-height: 133px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  display: flex;
  padding: 20px 20px 12px 20px;
  margin-bottom: 15px;
}

.vacancies__logo {
  width: 68px;
  height: 49px;
  border-radius: 10px;
}

.vacancies__content-box {
  padding-left: 15px;
  list-style: none;
  width: 250px;
}

.vacancies__company-name {
  margin: 0;
  font-weight: bold;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #9AAAB5;
  padding-bottom: 5px;
}

.vacancies__job-name {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(17 / 14);
  padding-bottom: 4px;
}

.vacancies__company-location {
  margin: 0;
  font-weight: bold;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #9AAAB5;
  padding-bottom: 10px;
}

.vacancies__job-skills {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.vacancies__job-skill {
  margin: 0;
  margin-left: 5px;
  font-weight: bold;
  font-size: 9px;
  line-height: calc(11 / 9);
  padding: 5px 4px 4px 10px;
  background-color: #F7F8F9;
  border-radius: 4px;
  margin-bottom: 5px;
  color: #95A5B2;
}

.vacancies__job-skill_position_new-row {
  margin-left: 0;
}

.vacancies__like-box {
  margin: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vacancies__like-button {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 19px;
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  outline: none;
}

.vacancies__job-date {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 9px;
  line-height: calc(11 / 9);
  color: #A1AEB9;
  padding-bottom: 31px;
  align-self: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .vacancies__job-date {
    padding-bottom: 0;
  }
}




.vacancies__description {
  margin: 0;
  margin-left: 40px;
  padding-top: 23px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .vacancies__description {
    max-width: 455px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .vacancies__description {
    max-width: 420px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .vacancies__description {
    display: none;
  }
}

.vacancies__title-box {
  margin: 0;
  padding: 23px 0 27px 30px;
  display: flex;
}

.vacancies__logo_place_description {
  width: 130px;
  height: 84px;
  object-fit: cover;
  margin-right: 51px;
}

.vacancies__title {
  margin: 0;
  padding: 0;
  width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.vacancies__job-name_place_description {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.vacancies__subtitle {
  margin: 0;
  padding: 0;
  display: flex;
  width: 258px;
  padding-top: 8px;
}

.vacancies__company-name_place_description {
  margin: 0;
  padding: 0;
}

.vacancies__company-location_place_description {
  margin-left: 11px;
  padding-left: 14px;
  border-left: solid #9AAAB5 1px;
  padding-bottom: 0;
}

.vacancies__payment {
  margin: 0;
  padding-left: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.vacancies__text-box {
  margin: 0;
  padding-left: 41px;
  padding-right: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.vacancies__list-name {
  font-weight: bold;
}

.vacancies__skill-list {
  list-style: none;
  padding-left: 0;
}
