.footer__icons-container {
  padding-right: 70px;
  padding-top: 10px;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__icons-container {
    padding: 0;
  }
}
