.footer {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1200px;
  padding-top: 170px;
  display: flex;
  justify-content: space-between;
  padding-left: 135px;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .footer {
    padding: 135px 16px 130px 16px;
    width: 700px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .footer {
    margin: 0 auto;
    padding: 135px 16px 130px 16px;
    width: 375px;
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .footer {
    margin: 0;
    padding: 135px 10px 130px 10px;
    width: 320px;
    flex-direction: column;
  }
}
