.plan-description__text_position_fifth {
  padding-top: 23px;
  height: 45px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .plan-description__text_position_fifth {
    padding-top: 41px;
    height: 97px;
  }
}
