.plan-description__text_position_third-row {
  padding-top: 14px;
  height: 78px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .plan-description__text_position_third-row {
    padding-top: 16px;
    height: 117px;
  }
}
