.plan-description__text_position_fourth {
  padding-top: 6px;
  height: 56px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .plan-description__text_position_fourth {
    padding-top: 21px;
    height: 97px;
  }
}
